header{
	color:silver;
	 font-family:"Algerian" font style:"Oblique";
	padding:17px 12px 17px 12px;
	margin:10px 7px 10px 7px;
	  text-align:center;
	 v
h1{
	 background-color: olive;
	 color: medium purple;
	 padding:10px;
     margin:10px;
     border:1px solid  orchid;
     text-align:center;
     font-family:"Comic Sans Ms";
} 
nav{
	overflow:hidden;
	float:center;
	padding-top:10px;
    padding-right: 12px;
    padding-left:12px;
}
nav a{
	background-color: silver;
	color:Dark slate blue;
	padding: 10px 10px 10px 10px ;
	text-align: center;
	text-decoration: none;
}
nav a:hover{
	background-color:Slate blue;
	color:white;
}
div.gallery{
	margin:5px;
	border:5px solid black;
	float:left;
	width:200px;
}
div.gallery:hover{
	border:5px solid red;
}
div.gallery img{
	width:100%;
	height:auto;
}
 div.desc{
 	color:tomato;
 	margin:2PX;
 	padding-all:4px;
 	border:solid dark red;
 	text-align:center;
 	text-decoration:all;
 }
 div.desc:hover{
 	color:green yellow;
 }
 body {
  background-color:Rosy Brown;
}
input[type=text],select,textarea{
	width:100%;
	padding:12px;
	border:1px solid#ccc;
	margin-top:6px;
	margin:16px;
	resize:vertical;
}
input[type=submit]{
	padding:12px 20px 12px 20px;
	cursor:pointer;
	border:auto;
	margin:5px;
}
body{
	background-image:url(brp/9.jpg)
}
input[type=time]{
	color:red;
	background-color:gold;
	border:solid olive 4px;
}
input[type=date]{
	color:red;
	background-color:gold;
	border:solid olive 4px;
}
 label{
 	color:lime
 	background-color:silver;
 	float:center;
 	padding:12px 7px 12px 7px;
 }
body
{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body >#bg{
	height:100%;
	width:100%;
	background-color:rbg(2,211,248);
}